#define NUMBER_WIFI_OPTIONS 2

const char* WIFI_SSIDS[NUMBER_WIFI_OPTIONS] = {
    "example-wifi-ssid-1",
    "example-wifi-ssid-2"
};

const char* WIFI_PASSWORDS[NUMBER_WIFI_OPTIONS] = {
    "example-password-1",
    "example-password-2"
};
const char* SERVER_URL = "https://www.example.com/page-name";
const char* API_TOKEN = "your-api-token";